@CHARSET "UTF-8";
/**/
.center{
	position:relative;width:988px;margin-left:-494px; left:50%;
}
.transparency{
	filter:alpha(opacity=50);-moz-opacity:0.5; opacity:0.5;
}
.hidden{
	display: none;
}
.shadow{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-moz-box-shadow: #666 0px 0px 10px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 0px 10px;
	box-shadow: #666 0px 0px 10px;behavior: url(/PIE.htc);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*兼容ie*/
}