body{
	margin: 0px;
}
.cls-data-table-detail td{
	padding : 3px;
}
.cls-inputbox-normal,.cls-inputbox-mouseover,.cls-inputbox-focus{
	font-size: 13px !important;
	line-height: 20px !important;
	color: #666 !important;
	background-image: url(../../skin/blue/images/input_bg.gif) !important;
	background-repeat: repeat-x !important;
	border: 1px solid #c6c5c5 !important;
	text-indent: 3px !important;
	/*width: 250px;*/
	height: 25px;
}
.cls-data-table-detail-notopborder{
	border-right-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
	border-left-color: #c0c0c0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-collapse: collapse;
}
.cls-tabtitle-top-table{
	border-bottom: 2px solid #6cb7ed   !important;
}
.cls-tabtitle-top-selected{
	background-image: url(../../skin/blue/images/tabs_1.gif)  !important;
}
.cls-tabtitle-top-deselected{
	background-image: url(../../skin/blue/images/tabs_2.gif)  !important;
}

.cls-data-table-detail td{
	padding : 3px;
}
.cls-data-table-detail{
	BORDER-COLLAPSE:   collapse;
	border:0px solid #FFF !important;
}
.cls-data-th-detail{
	/*background-color: #ACCCFF;
	heigth:30px;
	text-align: center;*/ 
	color: #18385e;
	background-color: transparent !important;
	border:0px solid #C0C0C0 !important;
	font-weight:bold;
}
.cls-data-td-editdetail{
	border:0px solid #C0C0C0 !important;
	min-height:25px;height:25px;color:#666;
	background: none repeat scroll 0 0 transparent !important;
}
.cls-img-normal{
	cursor:pointer;
	width: 104px;
	height: 68px;
}
.cls-img-mouseover{
	border:0px solid #6466CB !important;
	cursor:hand;
	width: 104px;
	height: 68px;
}
.savebuttonClsCBSS{
	background-image: url(../../skin/blue/images/btn_1.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 104px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #011e4a;
	border: 0px;
	margin-top: 30px;
	margin-left: 45%;
}
.savebuttonOver{
	background-image: url(../../skin/blue/images/btn_2.png);
	background-repeat: no-repeat;
	height: 35px;
	width: 104px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #011e4a;
	border: 0px;
	margin-top: 30px;
	margin-left: 45%;
}
.cls-data-th-list,.cls-data-th-editlist {
	background-image: url(../../skin/blue/images/list_table_bg.gif) !important;
	/*width: 734px;*/
	height: 30px;
	color: #13386d;
	font-weight: bold;
	text-align: center; 
	vertical-align:middle;
	border:0px solid #C0C0C0 !important;
 }
.cls-data-td-list,.cls-data-td-editlist{
	border: 0px solid #C0C0C0 !important;
	border-bottom:1px dotted #999 !important;
	height: 30px !important;
	color: #666;
}
.cls-data-table{
	border: 0px solid #C0C0C0 !important;
}
.cls-search-table{
	/*width:860px !important;*/
	height:52px !important;
	background-image: url(../../skin/blue/images/search_bg860.jpg) !important;
	background-repeat: no-repeat !important;
	margin-bottom: 15px;
}
.cls-button,.cls-button2{
	background:url(../../skin/blue/images/btn_normal.gif) !important;
	height:24px !important;
	width: 85px !important;
	line-height:22px !important;
	font-size:12px !important;
	color:#13386d !important;
	margin-left:5px;
	margin-bottom: 3px;
	padding-left:8px !important;
	padding-right:8px !important;
	border:1px solid #c4d2da !important;
}
.cls-button-mouseover,.cls-button2-mouseover{
	background:url(../../skin/blue/images/btn_hover.gif)  !important;
	height:24px !important;
	width: 85px !important;
	line-height:22px !important;
	font-size:12px !important;
	color:#13386d !important;
	margin-left:5px;
	margin-bottom: 3px;
	padding-left:8px !important;
	padding-right:8px !important;
	border:1px solid #0f73ac !important;
}

/*SDCMW*/
.nonborderbottom{
	border-bottom:0px;
}
.nonbordertop{
	border-top:0px;
}
.label{
	display:inline-block; width:90px; text-align: right; color:#55BEF8;
}
.label2{
	display:inline-block; width: 80px; text-align: center; border: 1px solid rgb(211,209,209);
}
.uploaderbtn{/*uploader*/
	width: 200px;
	margin-left: 5px;
	margin-top:5px;
}
/*wbcs system*/
.hidden{
	display: none;
}
.hide{
	display: none;
}
.logininfo {
	background-image: url(images/banner-user.jpg);
	background-repeat: no-repeat;
	float: right;
	height: 101px;
	width: 363px;
}
.logininfo .info {
	font-size: 13px;
	line-height: 20px;
	color: #FFF;
	width: 130px;
	float: left;
	margin-left: 140px;
	margin-top: 30px;
}
.logininfo .btn-exit {
	background-image: url(images/btn_exit.png);
	background-repeat: no-repeat;
	display: block;
	height: 52px;
	width: 32px;
	float: right;
	margin-right: 35px;
	margin-top: 60px;
}
.logininfo a.btn-exit:hover {
	background-image: url(images/btn_exit_hover.png);
}