bady{
	padding-right: 100px;
	margin-right: 100px;
}
#jpsqxqPage_guid_sqxx,.cls-search-table{
	width: 96%;
}
#jpsqxqPage_guid_bxxxRpt_data{
	background-color: #FCFFCA;
}
.cls-button{
	float:right;
}
.cls-button-mouseover,.cls-button2-mouseover{
	float: right !important;
}
