.ui-jqgrid .ui-jqgrid-title{font-size:13px;}  
.ui-jqgrid-sortable {font-size:13px;}  
.headsearch {
  margin-top:10px;
  margin-left:10px
}
.fpdrbody_div {
  margin-top :10px;
  margin-right:10px;
  margin-left:10px
}
.fpdrbtn_div {
  float:right;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
}

#uploadify object { 
 position:absolute;
 left:0; right:0; 
 width:100%  
}


.labelclass{
  float: left;
  margin-top: 5px;
}
 .inputclass {
  float: left;
  width:100px; 
  margin-left: 2px;
  margin-right: 3px;
}
.btnclass{
  width:90px; 
}
